<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Navigation Contact</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>---------Contact Page---------</h1>
    <a href="/">Home Page</a> <br />
    <a href="/navigation/about/">Navigation/About Page</a> <br />
    <a href="/navigation/contact/">Navigatiob/Contact Page</a>
  </body>
</html>
