{% extends "base.html" %} {% block content %}

<h1><strong>Name:</strong>Joynal Bin Tofajjal</h1>
<h1><strong>Age:</strong>25</h1>
<h1><strong>Location:</strong>Dhaka, Bangladesh</h1>
<h1><strong>Occupation:</strong>Software Engineer</h1>
<h1><strong>Education:</strong>B.Sc in CSE</h1>
<h1><strong>University:</strong>University of Dhaka</h1>
<h1><strong>Graduation Year:</strong>2019</h1>
<h1><strong>Experience:</strong>3 years</h1>
<h1><strong>Company:</strong>Brain Station 23</h1>
<h1><strong>Position:</strong>Software Engineer</h1>
<h1><strong>Department:</strong>Web Development</h1>

<i>{{user.name}}</i>

{% endblock content %}
