{% extends "base.html" %} {% load static %} {% block content %}
<section class="container">
  <h1>-------- Hey This Is Github Detail Page ----------</h1>
  <img src="{% static "images/github.jpg" %}" alt="">

  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
        </tr>
      </thead>
      <tbody>
        {% for post in dummyData %}
        <tr>
          <th scope="row">{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
